.mainContent {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  flex: 1; /* Esto empuja el footer hacia abajo */
  width: 100%;
}

.headerTitle {
  margin-bottom: 2rem;
  border-bottom: 3px solid #c0a060;
  padding-bottom: 0.5rem;
}

.headerTitle h1 {
  color: #1a1a1a;
  margin: 0;
}